/* body { */
/*     font-family: 'Roboto', sans-serif; */
/*     text-align: center; */
/*     margin: auto; */
/* } */

/* .githubImageLink { */
/*     height: 10px; */
/*     width: 10px; */
/*     padding-left: 3px; */
/* } */

/* .contacts { */
/*     padding-bottom: 30px; */
/* } */

/* .languages { */
/*     color: grey; */
/*     font-style: italic; */
/*     font-size: 9px; */
/* } */

/* .contactSep { */
/*     padding: 5px; */
/* } */

/* .projectDesc { */
/*     max-width: 360px; */
/*     margin: auto; */
/*     padding-bottom: 30px; */
/*     padding-left: 15px; */
/*     padding-right: 15px; */
/*     font-size: 11px; */
/*     color: dimgrey; */
/* } */

/* @media only screen and (max-width: 500px) {  */
/*     .contactSep {  */
/*         display: none;  */
/*     } */
/* } */
/* @media only screen and (min-width: 500px) {  */
/*     .contactBr {  */
/*         display: none;  */
/*     } */
/* } */

/* ------------------------------- */

/* introduction section rules */

.intro-column {
  float: left;
  width: 63%;
  font-size: 1.2em;
}

.navbar-brand {
  font-size: 30px;
}

.intro-img {
  border-radius: 5px;
  float: right;
}

#intro-container {
  max-width: 1000px;
  padding: 50px;
  margin: auto;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* clear floats after the columns */

@media screen and (max-width: 871px) {
  .intro-column {
    width: 100%;
  }

  .intro-img {
    display: none;
  }
}

/* card rules  */

.card:hover {
  position: relative;
  animation-name: lift-card;
  animation-duration: 0.12s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes lift-card {
  0% {
    top: 0px;
    left: 0px;
  }

  100% {
    top: -5px;
    left: -5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

@media screen and (min-width: 575px) {
  .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
  }
}

/* chart rules  
#title {
    font-size: calc(100% + 1vw + 1vh);
}
#databtn {
    margin: 10px;
}
.chart {
    text-align: center;
    display: flex;
    margin: auto;
}
.chart text {
    font: 10px sans-serif;
}
.axis text {
    font: 10px sans-serif;
}
.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
@media screen and (max-width: 720px) {
    .legend {
    transform: translate(20px, 20px);
    scale: 80%;
    opacity: 50%;
    }
}
#contribute-button {
    margin-bottom: 100px;
}
*/
