.jumbotron {
    background: #00c4e9;
    /* background: linear-gradient(233deg, #00baa5, #00c4e9); */
    /* background-size: 400% 400%; */

    /* animation: gradient-shift 15s ease infinite; */
    text-align: center;
    color: white;
}

@keyframes gradient-shift {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

.content {
    margin: auto;
    max-width: 1000px;
}

/* intro image rules  */
#intro-images {
    position: relative;
    min-height: 500px;
}

#intro-images img {
    width: 300px;
    position: absolute;
    border-radius: 5px;
}

#intro-images img:hover {
    z-index: 1;
    animation: image-highlight 0.1s;
    animation-fill-mode: forwards; 
}

@keyframes image-highlight{
    100% {
        width: 350px;
        box-shadow: 10px 10px #00c4e9;
    }
}
.title {
    text-align: center;
}

#logo-container {
    max-width: 230px;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

#class-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 50px;
}


#class-list li {
    margin-bottom: 15px;
}

