.jumbotron {
    background: #00c4e9;

    /* background: linear-gradient(233deg, #00baa5, #00c4e9); */
    /* background-size: 400% 400%; */

    /* animation: gradient-shift 15s ease infinite; */
    text-align: center;
    color: white;
}

@keyframes gradient-shift {
    0% {
        background-position: 0% 82%;
    }

    50% {
        background-position: 100% 19%;
    }

    100% {
        background-position: 0% 82%;
    }
}

.content {
    margin: auto;
    max-width: 1000px;
}

hr {
    border-color: black;
}

.text-container {
    margin: 100px;
    margin-top: 30px;
}

/* intro image rules  */

#intro-images {
    position: relative;
    min-height: 600px;

    img {
        width: 300px;
        position: absolute;
        border-radius: 5px;

        &:hover {
            z-index: 1;
            animation: image-highlight 0.1s;
            animation-fill-mode: forwards;
        }
    }
}

@keyframes image-highlight {
    100% {
        width: 350px;
        box-shadow: 10px 10px #00c4e9;
    }
}

.title {
    text-align: center;
}

h1 {
    margin-top: 100px;
}

#logo-container {
    max-width: 231px;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

#class-list {
    margin: 0;
    padding: 0;

    /* list-style-type: none; */
    margin-bottom: 100px;

    li {
        margin-bottom: 15px;
    }
}

#persona-container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
    margin: 30px;
    background: lightblue;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 5px;
}

.child {
    padding-top: 50px;

    /* flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ] */
    /* flex: 0 1 100px; */
    flex: 1 1 300px;
    font-size: 2rem;
    text-align: center;
}

#persona-info {
    text-align: left;
    list-style-type: none;

    li {
        margin-bottom: 15px;
    }
}

.image-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px;
    margin-bottom: 150px;

    > img {
        height: 400px;
        border-radius: 5px;
        margin-top: 30px;
    }
}

/* card rules  */
.card-deck {
    margin: 50px;
    
}
.card:hover {
    position: relative;
    animation-name: lift-card;
    animation-duration: 0.12s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes lift-card {
    0% {
        top: 0px; 
        left: 0px;

    }
    100% {
        top: -5px; 
        left: -5px;
        box-shadow: 10px 10px #00c4e9;
    }
}

@media screen and (min-width: 575px) {
    .card-img-top {
        width: 100%;
        height: 15vw;
        object-fit: cover;
    }
}
